In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings 
warnings.filterwarnings("ignore")

In [2]:
""" header parametresi, veri setinin sütun başlıklarının nerede başladığını
belirtir. Eğer header=None olarak ayarlanırsa, pandas, dosyada sütun başlıkları 
olmadığını varsayar ve sütunları sıralı sayılarla indeksler. Örneğin, ilk 
sütun 0, ikinci sütun 1 gibi. Bu durumda, sütunlar manuel olarak isimlendirilmelidir.
Bizim datamızdada header yok ve pandas ilk satırı header zannetmesin diye yok dedik"""
df= pd.read_csv("wine.data", header=None)

**Data İnceleme**

In [3]:
df.shape

(178, 14)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [4]:
#Burada datayı biz düzenliyoruz bu yüzden şimdi sütun isimleri eklememiz gerek.
col_names=[
    "class",
    "Alcohol",
 	"Malic acid",
 	"Ash",
	"Alcalinity of ash",
 	"Magnesium",
	"Total phenols",
 	"Flavanoids",
 	"Nonflavanoid phenols",
 	"Proanthocyanins",
	"Color intensity",
 	"Hue",
 	"OD280/OD315 of diluted wines",
 	"Proline"
]

df.columns =col_names
df.columns

Index(['class', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash',
       'Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoid phenols',
       'Proanthocyanins', 'Color intensity', 'Hue',
       'OD280/OD315 of diluted wines', 'Proline'],
      dtype='object')

In [6]:
df.head()

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   class                         178 non-null    int64
 1   Alcohol                       178 non-null    float64
 2   Malic acid                    178 non-null    float64
 3   Ash                           178 non-null    float64
 4   Alcalinity of ash             178 non-null    float64
 5   Magnesium                     178 non-null    int64
 6   Total phenols                 178 non-null    float64
 7   Flavanoids                    178 non-null    float64
 8   Nonflavanoid phenols          178 non-null    float64
 9   Proanthocyanins               178 non-null    float64
 10  Color intensity               178 non-null    float64
 11  Hue                           178 non-null    float64
 12  OD280/OD315 of diluted wines  178 non-null    float64
 13  Proline                       178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [8]:
df.describe()

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

**Kategorik Değişkenler:**

In [6]:
#Sütunların hepsi numeric ama yinede kategorik (O) var mı diye kontrol edicez

categorial= [var for var in df.columns if df[var].dtype == "O"]
print("Kategorik Değişken Sayısı: {}".format(len(categorial)))

Kategorik Değişken Sayısı: 0

**Numerik Değişkenler:**

In [7]:
#Numerikler, kategorik olmayanlar != O
numerical= [var for var in df.columns if df[var].dtype != "O"]

print("Numerik  Değişken Sayısı: {}\n".format(len(numerical) - 1))
#- 1 yazıyoruz çünkü ilki y sütunu biz girdilere bakıyoruz onda 1'den başlıyor
print("Numerik Sütunlar: ", numerical[1:])

Numerik  Değişken Sayısı: 13

Numerik Sütunlar:  ['Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']

**Feature & Label (Girdi % Sonuç) Ayrımı**

In [8]:
X= df.drop(["class"],axis=1)#sadece sonucu silersem geriye X kalır, axis=0-> satır, ax,s=1-> sütun
y=df["class"]

In [9]:
""" sort=False olarak ayarlanırsa, hesaplanan değerler sıralanmaz ve sonuç, orijinal sırayla korunur. Eğer sort=True olarak ayarlanırsa, 
değerler sıkılık sırasına göre büyükten küçüğe sıralanır. """
y.value_counts(sort=False)

class
1    59
2    71
3    48
Name: count, dtype: int64

**Train - Test Split**

In [10]:
# 70 - 30 split yapacağız

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.3, random_state=0)

In [11]:
#boyutlara bakalım
X_train.shape, X_test.shape

((124, 13), (54, 13))

**Feature Scaling**

In [12]:
#burada değerler kendi arasında orantısız olduğu için onşarı aynı değer aralıklarında boyutlandıracağız.
#birinin değeri 11,2 civarı iken birisi 1000 küsür bu durumda büyük sayı saha önemli gözükecek bunu önlüyoruz

cols= X_train.columns
cols

Index(['Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium',
       'Total phenols', 'Flavanoids', 'Nonflavanoid phenols',
       'Proanthocyanins', 'Color intensity', 'Hue',
       'OD280/OD315 of diluted wines', 'Proline'],
      dtype='object')

In [15]:
from sklearn.preprocessing import StandardScaler

sc=StandardScaler()
X_train=sc.fit_transform(X_train) #transform= dönüşütür
X_test= sc.transform(X_test) #burada train kısmını fit(eğitme) ettiğim için test kısmında ihtiyaç duymuyorum.
#test data ile öğrenme yapılmıyor ondan fit yok

In [16]:
# X_train ve X_test'in tipleri -> numpy.ndarray
type(X_train)

numpy.ndarray

In [17]:
#tipleri hala numpy.ndarray bunları DataFarme tipine çevireceğiz
X_train= pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])

In [18]:
#şimdi tekrar bakalım
type(X_train)

pandas.core.frame.DataFrame

In [19]:
#scale edilmiş haline bakalım
X_train.head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,0.910831,-0.462599,-0.011426,-0.820679,0.062417,0.588204,0.935654,-0.761914,0.130072,-0.512387,0.657066,1.943545,0.937010
1,-0.956099,-0.966087,-1.537254,-0.147487,-0.554019,0.169986,0.072432,0.207913,0.784626,-0.982107,-0.408595,0.581180,-1.413367
2,0.359522,1.675016,-0.374718,0.133010,1.363782,-1.118128,-1.314889,0.531189,-0.440566,2.220529,-1.559509,-1.448466,0.286837
3,0.221695,1.047864,-0.774340,0.413506,0.130910,-1.268687,-1.458759,0.531189,-0.524483,-0.426984,-1.516883,-1.281645,0.270582
4,1.098777,-0.771758,1.114780,1.535493,-0.964977,1.156982,0.915101,-1.246827,0.432174,-0.691735,1.722727,0.775804,-1.094782

In [20]:
X_test.head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,0.948420,-0.630428,-0.411048,-0.876778,1.226796,0.571476,0.956207,-1.246827,0.012588,0.363000,-0.152836,0.831410,1.018282
1,-0.241905,0.252884,0.424525,0.694003,0.815839,-1.302144,-0.626366,-1.004371,-0.591617,2.476740,-2.028400,-1.573581,-0.867221
2,-0.768153,-1.107417,-0.738011,-0.147487,-0.896484,2.077063,1.161736,-1.408465,0.432174,-0.234826,1.125957,0.372655,-1.062273
3,0.722885,-0.577430,0.351866,0.273258,1.089811,1.173711,0.832890,-1.327646,1.405614,0.533807,0.102922,0.595082,1.213334
4,0.083868,3.017650,-0.846998,0.553755,-0.964977,0.604933,0.699296,-0.519457,0.667142,-1.024809,-0.962739,0.692393,-1.192308

**Model Geliştirme**

In [23]:
from sklearn.naive_bayes import GaussianNB
#Sınıflandırma yapar, Gaussian Naive Bayes, özelliklerin bir normal dağılıma sahip olduğunu varsayar.

In [24]:
gnb= GaussianNB()

In [25]:
#modeli train data ile eğitiyoruz
gnb.fit(X_train, y_train)

GaussianNB()

**Sonuç Tahmini**

In [26]:
#test data ile class tahminlerimizi yapalım
y_pred= gnb.predict(X_test)
y_pred

array([1, 3, 2, 1, 2, 2, 1, 3, 2, 2, 3, 3, 1, 1, 3, 2, 1, 1, 3, 1, 1, 1,
       1, 2, 2, 2, 2, 2, 2, 3, 1, 1, 2, 1, 1, 1, 3, 2, 2, 3, 1, 1, 2, 2,
       2, 1, 3, 2, 3, 1, 3, 3, 1, 3], dtype=int64)

**Tahmin Sonucu Analizi (Accuracy Score)**

In [29]:
from sklearn.metrics import accuracy_score
print("Modelimiz için Accuracy Score: {0:0.4f}".format(accuracy_score(y_test, y_pred)))
#0:0.4f'nin anlamı noktadan sonra 4 basamaklı ondalıklı sayı demek

Modelimiz için Accuracy Score: 0.9444

Sonucumuz çok yüksek çıktı.  Şimdi Overfiting ve Underfiting kontrolü yapacağız.

**Overfiting:** Eğer Train Data Skoru ÇOK YÜKSEK, ama Test Data Skoru ÇOK DÜŞÜK çıksaydı.

**Underfiting:** Eğer Train Data Skoru ÇOK DÜŞÜK, ama Test Data Skoru ÇOK YÜKSEK çıksaydı.

In [34]:
# Train data üzerinden tahmin
y_pred_train= gnb.predict(X_train)
y_pred_train

array([1, 2, 3, 3, 2, 3, 3, 1, 3, 3, 2, 2, 3, 2, 1, 2, 2, 2, 1, 1, 2, 2,
       3, 3, 2, 2, 2, 3, 3, 1, 3, 2, 2, 2, 2, 2, 1, 1, 2, 1, 3, 1, 3, 1,
       1, 2, 1, 2, 2, 1, 3, 2, 1, 2, 2, 2, 3, 1, 3, 3, 1, 1, 2, 3, 1, 1,
       2, 2, 1, 1, 1, 3, 2, 1, 2, 3, 1, 2, 3, 3, 1, 1, 3, 1, 3, 2, 1, 1,
       2, 1, 3, 2, 3, 1, 3, 3, 3, 1, 2, 2, 2, 2, 3, 3, 2, 2, 2, 2, 3, 3,
       1, 1, 3, 2, 2, 2, 1, 1, 1, 2, 2, 2, 1, 3], dtype=int64)

In [35]:
print("Train-Data Accuracy Score: {0:0.4f}". format(accuracy_score(y_train, y_pred_train)))

Train-Data Accuracy Score: 0.9839

**Overfitting - Underfitting Kontrolü**

In [31]:
# train ve test data için skorları yazalım
print("Train Data Skoru: {:.4f}".format(gnb.score(X_train, y_train)))

print("Train Data Skoru: {:.4f}".format(gnb.score(X_test, y_test)))

Train Data Skoru: 0.9839
Train Data Skoru: 0.9444

Train ve Test değerleri hem yüksek hemde birbirine yakın bu yüzden Overfiting veya Underfiting yoktur.