In [1]:
import pandas as pd

In [3]:
df= pd.read_csv("Wage.csv", index_col=0) #ilk sütun indextir ve onu göstermiyor.index_col=0 demek 0. sütunu sil demektir.

In [4]:
df.describe() #yeardan önceki sütun yok

              year          age      logwage         wage
count  3000.000000  3000.000000  3000.000000  3000.000000
mean   2005.791000    42.414667     4.653905   111.703608
std       2.026167    11.542406     0.351753    41.728595
min    2003.000000    18.000000     3.000000    20.085537
25%    2004.000000    33.750000     4.447158    85.383940
50%    2006.000000    42.000000     4.653213   104.921507
75%    2008.000000    51.000000     4.857332   128.680488
max    2009.000000    80.000000     5.763128   318.342430

In [8]:
df.columns #sütunlar

Index(['year', 'age', 'sex', 'maritl', 'race', 'education', 'region',
       'jobclass', 'health', 'health_ins', 'logwage', 'wage'],
      dtype='object')

In [9]:
df.head()

,year,age,sex,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
231655,2006,18,1. Male,1. Never Married,1. White,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.318063,75.043154
86582,2004,24,1. Male,1. Never Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,2. No,4.255273,70.476020
161300,2003,45,1. Male,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.875061,130.982177
155159,2003,43,1. Male,2. Married,3. Asian,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,5.041393,154.685293
11443,2005,50,1. Male,4. Divorced,1. White,2. HS Grad,2. Middle Atlantic,2. Information,1. <=Good,1. Yes,4.318063,75.043154

In [11]:
df.columns

Index(['year', 'age', 'sex', 'maritl', 'race', 'education', 'region',
       'jobclass', 'health', 'health_ins', 'logwage', 'wage'],
      dtype='object')

In [10]:
df.columns.size #Sütun sayısını veriyor
#buradaki 12 tane sütundan wage sütunu çıktı diğerleri  ise girdidir.

12

In [ ]:
degiskenler=['year', 'age', 'sex', 'maritl', 'race', 'education', 'region',
       'jobclass', 'health', 'health_ins', 'logwage']

In [ ]:
X=df[degiskenler]
X.columns

Index(['year', 'age', 'sex', 'maritl', 'race', 'education', 'region',
       'jobclass', 'health', 'health_ins', 'logwage'],
      dtype='object')

In [19]:
y=df["wage"]
y.head(8)

231655     75.043154
86582      70.476020
161300    130.982177
155159    154.685293
11443      75.043154
376662    127.115744
450601    169.528538
377954    111.720849
Name: wage, dtype: float64

In [21]:
# 4. satır input girdi
# x4

X.iloc[3,:] """3 burada index nosu yanındaki iki nokta sütun no olacak iki nokta 4. satırdaki bütün sütunlar anlamına  geliyor.
iloc yer buluyor. 3'ün yanındak ise bütün sütunları istiyor."""

year                        2003
age                           43
sex                      1. Male
maritl                2. Married
race                    3. Asian
education        4. College Grad
region        2. Middle Atlantic
jobclass          2. Information
health            2. >=Very Good
health_ins                1. Yes
logwage                 5.041393
Name: 155159, dtype: object

In [22]:
y.iloc[3] #4. satırdaki sonucu aldı. Çıktı

154.68529299563